## 1. Importing the required Libraries

In [1]:
from dotenv import load_dotenv
import os
import boto3

from sqlalchemy import create_engine

from llama_index.core import SQLDatabase, VectorStoreIndex
from llama_index.core.indices.struct_store import SQLTableRetrieverQueryEngine
from llama_index.core.objects import ObjectIndex, SQLTableNodeMapping, SQLTableSchema

from llama_index.core.prompts import Prompt, PromptTemplate

from llama_index.embeddings.google import GeminiEmbedding
from llama_index.llms.gemini import Gemini

from llama_index.core import Settings
from llama_index.core import StorageContext
from llama_index.vector_stores.chroma import ChromaVectorStore

import chromadb

/home/joswin/Learning/.venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## 2. Importing the Credentials

In [2]:
# Importing the required credentials

load_dotenv()

ACCESS_KEY= os.getenv("ACCESS_KEY")
PASS_CODE= os.getenv("PASS_CODE")
REGION_NAME = os.getenv("REGION_NAME")
DATA_BASE= os.getenv("DATA_BASE")
BUCKET_NAME=os.getenv("BUCKET_NAME")
API_KEY=os.getenv("API_KEY")

## 3. To have the entire prompts displayed

In [3]:
import llama_index.core

llama_index.core.set_global_handler("simple")

## 4.Creating the engine

In [4]:
athena_conn_url = f"awsathena+rest://{ACCESS_KEY}:{PASS_CODE}@athena.{REGION_NAME}.amazonaws.com/{DATA_BASE}?s3_staging_dir=s3://{BUCKET_NAME}"

engine = create_engine(athena_conn_url)

/tmp/ipykernel_87756/2683779102.py:3: SADeprecationWarning: The dbapi() classmethod on dialect classes has been renamed to import_dbapi().  Implement an import_dbapi() classmethod directly on class <class 'pyathena.sqlalchemy.rest.AthenaRestDialect'> to remove this warning; the old .dbapi() classmethod may be maintained for backwards compatibility.
  engine = create_engine(athena_conn_url)

In [5]:
print(engine)

Engine(awsathena+rest://AKIAYS2NTNJ6TMQURSIW:***@athena.us-east-1.amazonaws.com/new-insurance-db?s3_staging_dir=s3%3A%2F%2Fnew-bucket-jose)

## 4. Creating table schema objects for context info

### 1. Providing the additional information about the tables

In [6]:
TABLE_DETAILS = {
  "customers": "Contains the customer information.",
  "policies": "Contains the details regarding the policies of the customer.",
  "policy_types": "Contains the information regarding the various Policy Types. The various policy types are ['Life Insurance','Health Insurance','Auto Insurance','Home Insurance','Travel Insurance']"
}

In [7]:
sql_database = SQLDatabase(engine)

# List of lightweight representations of sql tables: name and Context String
table_schema_objs = [SQLTableSchema(table_name = table, context_str = TABLE_DETAILS[table]) for table in sql_database._all_tables]

In [8]:
for x in list(sql_database._all_tables):
  print(x)

policies
customers
policy_types

In [9]:
table_schema_objs

[SQLTableSchema(table_name='policies', context_str='Contains the details regarding the policies of the customer.'),
 SQLTableSchema(table_name='customers', context_str='Contains the customer information.'),
 SQLTableSchema(table_name='policy_types', context_str="Contains the information regarding the various Policy Types. The various policy types are ['Life Insurance','Health Insurance','Auto Insurance','Home Insurance','Travel Insurance']")]

### 2. Creating a Node object for each of the tables

In [10]:
table_node_mapper = SQLTableNodeMapping(sql_database)
print(table_node_mapper)

<llama_index.core.objects.table_node_mapping.SQLTableNodeMapping object at 0x7f457fd2ac80>

### 3. Setting the default LLM and embedding mdoel to use

In [11]:
Settings.embed_model = GeminiEmbedding(api_key=API_KEY)
Settings.llm = Gemini(api_key = API_KEY, temperature = 0)

### 4. Creating ObjectIndex using the table info

In [12]:
def Store_or_Retrieve_the_tbl_context_in_db(lst_objs,obj_mapping,path_dir = "./db/chroma_db"):
  # First trying to retrieve the index if already present i nthe memory
  db = chromadb.PersistentClient(path=f"{path_dir}")
  chroma_collection = db.get_or_create_collection("table_db")
  vector_store = ChromaVectorStore(chroma_collection=chroma_collection)
  index = VectorStoreIndex.from_vector_store(vector_store=vector_store)
  obj_index = ObjectIndex.from_objects_and_index(objects = lst_objs,object_mapping = obj_mapping, index = index)
  object_retriever = obj_index.as_retriever(similarity_top_k=1)
  a = object_retriever.retrieve("claim")
  if len(a) ==0:
    # Initialize client
    db = chromadb.PersistentClient(path=f"{path_dir}")
    # Get collection
    chroma_collection = db.get_or_create_collection("table_db")
    # Assign chroma as the vector store to the context
    vector_store = ChromaVectorStore(chroma_collection = chroma_collection)
    storage_context = StorageContext.from_defaults(vector_store = vector_store) 
    obj_index =ObjectIndex.from_objects(
                                        objects = lst_objs,
                                        object_mapping = obj_mapping,
                                        index_cls = VectorStoreIndex,
                                        storage_context = storage_context
                                      )
    return obj_index

  else:
    return obj_index

### NOTE: If no vector index is available

In [13]:
# db = chromadb.PersistentClient(path="./db/chroma_db")
# chroma_collection = db.get_or_create_collection("table_db")
# vector_store = ChromaVectorStore(chroma_collection=chroma_collection)
# index = VectorStoreIndex.from_vector_store(vector_store=vector_store)
# obj_index = ObjectIndex.from_objects_and_index(objects =  table_schema_objs,object_mapping = table_node_mapper, index = index)
# object_retriever = obj_index.as_retriever(similarity_top_k=5)
# a = object_retriever.retrieve("claim")
# print(a)

In [14]:
# Creating directory in pwd
os.makedirs('db',exist_ok= True)

# Creating the object index
object_index = Store_or_Retrieve_the_tbl_context_in_db(lst_objs = table_schema_objs,obj_mapping =  table_node_mapper)

### NOTE: When a Vector Index is already present

In [15]:

# db = chromadb.PersistentClient(path="./db/chroma_db")
# chroma_collection = db.get_or_create_collection("table_db")
# vector_store = ChromaVectorStore(chroma_collection=chroma_collection)
# index = VectorStoreIndex.from_vector_store(vector_store=vector_store)
# obj_index = ObjectIndex.from_objects_and_index(objects =  table_schema_objs,object_mapping = table_node_mapper, index = index)
# object_retriever = obj_index.as_retriever(similarity_top_k=5)
# a = object_retriever.retrieve("claim")
# print(a)

## 5. Prompt Template

In [15]:
SQL_TEMPLATE_STR = """
Given an input question, first create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for a few relevant columns given the question.
Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist.
Qualify column names with the table name when needed.

If a column name contains a space, always wrap the column name in double quotes.

You are required to use the following format, each taking one line:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use tables listed below.
{schema}

Do not under any circumstance use SELECT * in your query.

Here are some useful examples:
{few_shot_examples}

Question: {query_str}\nSQLQuery: """

RESPONSE_TEMPLATE_STR = """If the <SQL Response> below contains data, then given an input question, synthesize a response from the query results.
    If the <SQL Response> is empty, then you should not synthesize a response and instead respond that no data was found for the quesiton..\n

    \nQuery: {query_str}\nSQL: {sql_query}\n<SQL Response>: {context_str}\n</SQL Response>\n

    Do not make any mention of queries or databases in your response, instead you can say 'according to the latest information' .\n\n
    Please make sure to mention any additional details from the context supporting your response.
    If the final answer contains <dollar_sign>$</dollar_sign>, ADD '\' ahead of each <dollar_sign>$</dollar_sign>.

    Response: """

In [16]:
text_to_sql_query = PromptTemplate(
  template = SQL_TEMPLATE_STR
)

response_synthesis = Prompt(RESPONSE_TEMPLATE_STR)

## 6. Providing info to the Query Engine

In [101]:
query_engine = SQLTableRetrieverQueryEngine(
  sql_database,
  object_index.as_retriever(similarity_top_k = 2), # There are total 3 objects (3 tables), based on the user query only two tables 
  text_to_sql_prompt = text_to_sql_query,
  response_synthesis_prompt = response_synthesis,
  verbose = True,
  sql_only= False # If set to True, it just provides the SQL query
)

In [102]:
def Execution_query(query_engine,user_query):
  res = query_engine.sql_retriever.retrieve_with_metadata(f"{user_query}")
  if len(res[0][0].metadata) == 0:
    response = "No available information in the database related to this query."
    SQL= "No Query was generated."

  else:
    res=query_engine.query(f"{user_query}")
    response = res.response
    SQL = res.metadata['sql_query']

  return {
    "Response": response,
    "SQL": SQL  }

## Query 1
Note: 
1. The answer is in the database.

2. Correct SQL query has been generated, 

3. Response is also generated.

In [103]:
user_input = "How many customers have a health insurance policy?"
output = Execution_query(query_engine = query_engine,user_query = user_input)
print(user_input)
# user_input = "How many claims are submitted for each policy?"

** Messages: **
user:
Given an input question, first create a syntactically correct awsathena query to run, then look at the results of the query and return the answer.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for a few relevant columns given the question.
Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist.
Qualify column names with the table name when needed.

If a column name contains a space, always wrap the column name in double quotes.

You are required to use the following format, each taking one line:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use tables listed below.
Table 'policies' has columns: policyid (BIGINT), policynumber (VARCHAR), customerid (BIGINT), policytypeid (BIGINT), startdate (VARCHAR), enddate (VARCHAR), premiumamount (BIGINT), . The table description is: Contains the details regarding the policies of the customer.

Table 'customers' has columns: customerid (BIGINT), firstname (VARCHAR), lastname (VARCHAR), dateofbirth (VARCHAR), email (VARCHAR), . The table description is: Contains the customer information.

Do not under any circumstance use SELECT * in your query.

Here are some useful examples:
{few_shot_examples}

Question: How many customers have a health insurance policy?
SQLQuery:
**************************************************
** Response: **
assistant: Question: How many customers have a health insurance policy?
SQLQuery: SELECT count(DISTINCT c.customerid) FROM customers c JOIN policies p ON c.customerid = p.customerid WHERE p.policytypeid = 1
SQLResult:
count(DISTINCT c.customerid)
---------------------------
                         100
Answer: 100 customers have a health insurance policy.

**************************************************


** Messages: **
user:
Given an input question, first create a syntactically correct awsathena query to run, then look at the results of the query and return the answer.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for a few relevant columns given the question.
Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist.
Qualify column names with the table name when needed.

If a column name contains a space, always wrap the column name in double quotes.

You are required to use the following format, each taking one line:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use tables listed below.
Table 'policies' has columns: policyid (BIGINT), policynumber (VARCHAR), customerid (BIGINT), policytypeid (BIGINT), startdate (VARCHAR), enddate (VARCHAR), premiumamount (BIGINT), . The table description is: Contains the details regarding the policies of the customer.

Table 'customers' has columns: customerid (BIGINT), firstname (VARCHAR), lastname (VARCHAR), dateofbirth (VARCHAR), email (VARCHAR), . The table description is: Contains the customer information.

Do not under any circumstance use SELECT * in your query.

Here are some useful examples:
{few_shot_examples}

Question: How many customers have a health insurance policy?
SQLQuery:
**************************************************
** Response: **
assistant: Question: How many customers have a health insurance policy?
SQLQuery: SELECT count(DISTINCT c.customerid) FROM customers c JOIN policies p ON c.customerid = p.customerid WHERE p.policytypeid = 1
SQLResult:
count(DISTINCT c.customerid)
---------------------------
                         100
Answer: 100 customers have a health insurance policy.

**************************************************


** Messages: **
user: If the <SQL Response> below contains data, then given an input question, synthesize a response from the query results.
    If the <SQL Response> is empty, then you should not synthesize a response and instead respond that no data was found for the quesiton..



Query: How many customers have a health insurance policy?
SQL: SELECT count(DISTINCT c.customerid) FROM customers c JOIN policies p ON c.customerid = p.customerid WHERE p.policytypeid = 1
<SQL Response>: [(2,)]
</SQL Response>


    Do not make any mention of queries or databases in your response, instead you can say 'according to the latest information' .


    Please make sure to mention any additional details from the context supporting your response.
    If the final answer contains <dollar_sign>$</dollar_sign>, ADD '' ahead of each <dollar_sign>$</dollar_sign>.

    Response:
**************************************************
** Response: **
assistant: According to the latest information, there are 2 customers who have a health insurance policy.

**************************************************


How many customers have a health insurance policy?

In [104]:
print(output)

{'Response': 'According to the latest information, there are 2 customers who have a health insurance policy. \n', 'SQL': 'SELECT count(DISTINCT c.customerid) FROM customers c JOIN policies p ON c.customerid = p.customerid WHERE p.policytypeid = 1'}

In [105]:
# from sqlalchemy.sql import text
# with engine.connect() as conn:
#   a = conn.execute(text(f'{query}')).fetchall()

# print(a)

## Query 2
Note:
1. Data is not available in the database.
2. Here, the SQL query is not being generated itself.
3. Thus, Response is also not generated.

In [106]:
user_input = "How many claims are submitted for each policy?"
output = Execution_query(query_engine = query_engine,user_query = user_input)
print(user_input)

** Messages: **
user:
Given an input question, first create a syntactically correct awsathena query to run, then look at the results of the query and return the answer.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for a few relevant columns given the question.
Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist.
Qualify column names with the table name when needed.

If a column name contains a space, always wrap the column name in double quotes.

You are required to use the following format, each taking one line:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use tables listed below.
Table 'policies' has columns: policyid (BIGINT), policynumber (VARCHAR), customerid (BIGINT), policytypeid (BIGINT), startdate (VARCHAR), enddate (VARCHAR), premiumamount (BIGINT), . The table description is: Contains the details regarding the policies of the customer.

Table 'policy_types' has columns: policytypeid (BIGINT), policytypename (VARCHAR), . The table description is: Contains the information regarding the various Policy Types. The various policy types are ['Life Insurance','Health Insurance','Auto Insurance','Home Insurance','Travel Insurance']

Do not under any circumstance use SELECT * in your query.

Here are some useful examples:
{few_shot_examples}

Question: How many claims are submitted for each policy?
SQLQuery:
**************************************************
** Response: **
assistant: Question: How many claims are submitted for each policy?
SQLQuery: -- Unable to provide an adequate query for the request.
SQLResult: -- Unable to provide an adequate query for the request.
Answer: -- Unable to provide an adequate query for the request. The database does not contain information about claims.

**************************************************

Failed to execute query.
Traceback (most recent call last):
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/pyathena/common.py", line 575, in _execute
    query_id = retry_api_call(
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/pyathena/util.py", line 84, in retry_api_call
    return retry(func, *args, **kwargs)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 475, in __call__
    do = self.iter(retry_state=retry_state)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 376, in iter
    result = action(retry_state)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 398, in <lambda>
    self._add_action_func(lambda rs: rs.outcome.result())
  File "/usr/lib/python3.10/concurrent/futures/_base.py", line 439, in result
    return self.__get_result()
  File "/usr/lib/python3.10/concurrent/futures/_base.py", line 391, in __get_result
    raise self._exception
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 478, in __call__
    result = fn(*args, **kwargs)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/botocore/client.py", line 569, in _api_call
    return self._make_api_call(operation_name, kwargs)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/botocore/client.py", line 1023, in _make_api_call
    raise error_class(parsed_response, operation_name)
botocore.errorfactory.InvalidRequestException: An error occurred (InvalidRequestException) when calling the StartQueryExecution operation: line 1:56: mismatched input '<EOF>'. Expecting: 'ALTER', 'ANALYZE', 'CALL', 'COMMENT', 'COMMIT', 'CREATE', 'DEALLOCATE', 'DELETE', 'DENY', 'DESC', 'DESCRIBE', 'DROP', 'EXECUTE', 'EXPLAIN', 'GRANT', 'INSERT', 'MERGE', 'PREPARE', 'REFRESH', 'RESET', 'REVOKE', 'ROLLBACK', 'SET', 'SHOW', 'START', 'TRUNCATE', 'UNLOAD', 'UPDATE', 'USE', <query>

How many claims are submitted for each policy?

In [107]:
print(output)

{'Response': 'No available information in the database related to this query.', 'SQL': 'No Query was generated.'}

## Query 3
Note:
1. Data is not available in the database.
2. Here, the WRONG SQL query is generated. But is syntactically correct and a response can be generated from the provided tables.
3. Based on the WRONG response from the query, a false response is being generated => With experimenting with the response prompt, we can do better./

In [108]:
user_input = "Who are the various agents?"
output = Execution_query(query_engine = query_engine,user_query = user_input)
print(user_input)
# user_input = "How many claims are submitted for each policy?"

** Messages: **
user:
Given an input question, first create a syntactically correct awsathena query to run, then look at the results of the query and return the answer.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for a few relevant columns given the question.
Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist.
Qualify column names with the table name when needed.

If a column name contains a space, always wrap the column name in double quotes.

You are required to use the following format, each taking one line:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use tables listed below.
Table 'policies' has columns: policyid (BIGINT), policynumber (VARCHAR), customerid (BIGINT), policytypeid (BIGINT), startdate (VARCHAR), enddate (VARCHAR), premiumamount (BIGINT), . The table description is: Contains the details regarding the policies of the customer.

Table 'customers' has columns: customerid (BIGINT), firstname (VARCHAR), lastname (VARCHAR), dateofbirth (VARCHAR), email (VARCHAR), . The table description is: Contains the customer information.

Do not under any circumstance use SELECT * in your query.

Here are some useful examples:
{few_shot_examples}

Question: Who are the various agents?
SQLQuery:
**************************************************
** Response: **
assistant: Question: Who are the various agents?
SQLQuery: SELECT DISTINCT "firstname" FROM customers
SQLResult:
firstname
----------
John
Alice
Bob
Eve
Charlie
David
Frank
Grace
Henry
Isabella
Jack
Kate
Liam
Mia
Noah
Olivia
Peter
Quinn
Ryan
Sophia
Thomas
Uma
Victor
Wendy
Xavier
Yara
Zoe
SQLAnswer: The various agents are John, Alice, Bob, Eve, Charlie, David, Frank, Grace, Henry, Isabella, Jack, Kate, Liam, Mia, Noah, Olivia, Peter, Quinn, Ryan, Sophia, Thomas, Uma, Victor, Wendy, Xavier, Yara, and Zoe.

**************************************************


** Messages: **
user:
Given an input question, first create a syntactically correct awsathena query to run, then look at the results of the query and return the answer.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for a few relevant columns given the question.
Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist.
Qualify column names with the table name when needed.

If a column name contains a space, always wrap the column name in double quotes.

You are required to use the following format, each taking one line:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use tables listed below.
Table 'policies' has columns: policyid (BIGINT), policynumber (VARCHAR), customerid (BIGINT), policytypeid (BIGINT), startdate (VARCHAR), enddate (VARCHAR), premiumamount (BIGINT), . The table description is: Contains the details regarding the policies of the customer.

Table 'customers' has columns: customerid (BIGINT), firstname (VARCHAR), lastname (VARCHAR), dateofbirth (VARCHAR), email (VARCHAR), . The table description is: Contains the customer information.

Do not under any circumstance use SELECT * in your query.

Here are some useful examples:
{few_shot_examples}

Question: Who are the various agents?
SQLQuery:
**************************************************
** Response: **
assistant: Question: Who are the various agents?
SQLQuery: SELECT DISTINCT "firstname" FROM customers
SQLResult:
firstname
----------
John
Alice
Bob
Eve
Charlie
David
Frank
Grace
Henry
Isabella
Jack
Kate
Liam
Mia
Noah
Olivia
Peter
Quinn
Ryan
Sophia
Thomas
Uma
Victor
Wendy
Xavier
Yara
Zoe
SQLAnswer: The various agents are John, Alice, Bob, Eve, Charlie, David, Frank, Grace, Henry, Isabella, Jack, Kate, Liam, Mia, Noah, Olivia, Peter, Quinn, Ryan, Sophia, Thomas, Uma, Victor, Wendy, Xavier, Yara, and Zoe.

**************************************************


** Messages: **
user: If the <SQL Response> below contains data, then given an input question, synthesize a response from the query results.
    If the <SQL Response> is empty, then you should not synthesize a response and instead respond that no data was found for the quesiton..



Query: Who are the various agents?
SQL: SELECT DISTINCT "firstname" FROM customers
<SQL Response>: [('Bob',), ('John',), ('Jane',), ('Alice',), ('Charlie',)]
</SQL Response>


    Do not make any mention of queries or databases in your response, instead you can say 'according to the latest information' .


    Please make sure to mention any additional details from the context supporting your response.
    If the final answer contains <dollar_sign>$</dollar_sign>, ADD '' ahead of each <dollar_sign>$</dollar_sign>.

    Response:
**************************************************
** Response: **
assistant: According to the latest information, the various agents are Bob, John, Jane, Alice, and Charlie.

**************************************************


Who are the various agents?

In [109]:
print(output)

{'Response': 'According to the latest information, the various agents are Bob, John, Jane, Alice, and Charlie. \n', 'SQL': 'SELECT DISTINCT "firstname" FROM customers'}

## Query 4
Note: 
1. Data is not available in the database.
2. Here, also the wrong query is being generated. It is syntactically correct but there is no table as specified.
3. Response, is not being generated.

In [110]:
user_input = "Who are the various agents? I don't want to know the name of the customers."
output = Execution_query(query_engine = query_engine,user_query = user_input)
print(user_input)

** Messages: **
user:
Given an input question, first create a syntactically correct awsathena query to run, then look at the results of the query and return the answer.
You can order the results by a relevant column to return the most interesting examples in the database.
Never query for all the columns from a specific table, only ask for a few relevant columns given the question.
Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist.
Qualify column names with the table name when needed.

If a column name contains a space, always wrap the column name in double quotes.

You are required to use the following format, each taking one line:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use tables listed below.
Table 'customers' has columns: customerid (BIGINT), firstname (VARCHAR), lastname (VARCHAR), dateofbirth (VARCHAR), email (VARCHAR), . The table description is: Contains the customer information.

Table 'policies' has columns: policyid (BIGINT), policynumber (VARCHAR), customerid (BIGINT), policytypeid (BIGINT), startdate (VARCHAR), enddate (VARCHAR), premiumamount (BIGINT), . The table description is: Contains the details regarding the policies of the customer.

Do not under any circumstance use SELECT * in your query.

Here are some useful examples:
{few_shot_examples}

Question: Who are the various agents? I don't want to know the name of the customers.
SQLQuery:
**************************************************
** Response: **
assistant: Question: Who are the various agents? I don't want to know the name of the customers.
SQLQuery: SELECT DISTINCT agent FROM agents
SQLResult:
Answer: I am sorry, I cannot answer this question. The database does not contain information about agents.
**************************************************


Who are the various agents? I don't want to know the name of the customers.

In [111]:
print(output)

{'Response': 'No available information in the database related to this query.', 'SQL': 'No Query was generated.'}

## Default prompts

In [115]:
query_engine = SQLTableRetrieverQueryEngine(
  sql_database,
  object_index.as_retriever(similarity_top_k = 2), # There are total 3 objects (3 tables), based on the user query only two tables 
  #text_to_sql_prompt = text_to_sql_query,
  #response_synthesis_prompt = response_synthesis,
  verbose = True,
  sql_only= False # If set to True, it just provides the SQL query
)

### 1. First Query

In [116]:
user_input = "How many customers have a health insurance policy?"
output = Execution_query(query_engine = query_engine,user_query = user_input)
print(user_input)
# user_input = "How many claims are submitted for each policy?"

** Messages: **
user: Given an input question, first create a syntactically correct awsathena query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return the most interesting examples in the database.

Never query for all the columns from a specific table, only ask for a few relevant columns given the question.

Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Pay attention to which column is in which table. Also, qualify column names with the table name when needed. You are required to use the following format, each taking one line:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use tables listed below.
Table 'policies' has columns: policyid (BIGINT), policynumber (VARCHAR), customerid (BIGINT), policytypeid (BIGINT), startdate (VARCHAR), enddate (VARCHAR), premiumamount (BIGINT), . The table description is: Contains the details regarding the policies of the customer.

Table 'customers' has columns: customerid (BIGINT), firstname (VARCHAR), lastname (VARCHAR), dateofbirth (VARCHAR), email (VARCHAR), . The table description is: Contains the customer information.

Question: How many customers have a health insurance policy?
SQLQuery:
**************************************************
** Response: **
assistant: Question: How many customers have a health insurance policy?
SQLQuery: SELECT COUNT(DISTINCT c.customerid) FROM customers c JOIN policies p ON c.customerid = p.customerid WHERE p.policytypeid = 1
SQLResult:
COUNT(DISTINCT c.customerid)
---------------------------
                         100
Answer: 100 customers have a health insurance policy.

**************************************************


** Messages: **
user: Given an input question, first create a syntactically correct awsathena query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return the most interesting examples in the database.

Never query for all the columns from a specific table, only ask for a few relevant columns given the question.

Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Pay attention to which column is in which table. Also, qualify column names with the table name when needed. You are required to use the following format, each taking one line:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use tables listed below.
Table 'policies' has columns: policyid (BIGINT), policynumber (VARCHAR), customerid (BIGINT), policytypeid (BIGINT), startdate (VARCHAR), enddate (VARCHAR), premiumamount (BIGINT), . The table description is: Contains the details regarding the policies of the customer.

Table 'customers' has columns: customerid (BIGINT), firstname (VARCHAR), lastname (VARCHAR), dateofbirth (VARCHAR), email (VARCHAR), . The table description is: Contains the customer information.

Question: How many customers have a health insurance policy?
SQLQuery:
**************************************************
** Response: **
assistant: Question: How many customers have a health insurance policy?
SQLQuery: SELECT COUNT(DISTINCT c.customerid) FROM customers c JOIN policies p ON c.customerid = p.customerid WHERE p.policytypeid = 1
SQLResult:
COUNT(DISTINCT c.customerid)
---------------------------
                         100
Answer: 100 customers have a health insurance policy.

**************************************************


** Messages: **
user: Given an input question, synthesize a response from the query results.
Query: How many customers have a health insurance policy?
SQL: SELECT COUNT(DISTINCT c.customerid) FROM customers c JOIN policies p ON c.customerid = p.customerid WHERE p.policytypeid = 1
SQL Response: [(2,)]
Response:
**************************************************
** Response: **
assistant: There are **2** customers with a health insurance policy.

**************************************************


How many customers have a health insurance policy?

In [117]:
print(output)

{'Response': 'There are **2** customers with a health insurance policy. \n', 'SQL': 'SELECT COUNT(DISTINCT c.customerid) FROM customers c JOIN policies p ON c.customerid = p.customerid WHERE p.policytypeid = 1'}

### 2. Second Query

In [119]:
user_input = "How many claims are submitted for each policy?"
output = Execution_query(query_engine = query_engine,user_query = user_input)
print(user_input)

** Messages: **
user: Given an input question, first create a syntactically correct awsathena query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return the most interesting examples in the database.

Never query for all the columns from a specific table, only ask for a few relevant columns given the question.

Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Pay attention to which column is in which table. Also, qualify column names with the table name when needed. You are required to use the following format, each taking one line:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use tables listed below.
Table 'policies' has columns: policyid (BIGINT), policynumber (VARCHAR), customerid (BIGINT), policytypeid (BIGINT), startdate (VARCHAR), enddate (VARCHAR), premiumamount (BIGINT), . The table description is: Contains the details regarding the policies of the customer.

Table 'policy_types' has columns: policytypeid (BIGINT), policytypename (VARCHAR), . The table description is: Contains the information regarding the various Policy Types. The various policy types are ['Life Insurance','Health Insurance','Auto Insurance','Home Insurance','Travel Insurance']

Question: How many claims are submitted for each policy?
SQLQuery:
**************************************************
** Response: **
assistant: Question: How many claims are submitted for each policy?
SQLQuery: -- Unable to provide an adequate query for the request.
SQLResult: -- Unable to provide an adequate query for the request.
Answer: -- Unable to provide an adequate query for the request. The database schema does not contain information about claims.

**************************************************

Failed to execute query.
Traceback (most recent call last):
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/pyathena/common.py", line 575, in _execute
    query_id = retry_api_call(
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/pyathena/util.py", line 84, in retry_api_call
    return retry(func, *args, **kwargs)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 475, in __call__
    do = self.iter(retry_state=retry_state)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 376, in iter
    result = action(retry_state)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 398, in <lambda>
    self._add_action_func(lambda rs: rs.outcome.result())
  File "/usr/lib/python3.10/concurrent/futures/_base.py", line 439, in result
    return self.__get_result()
  File "/usr/lib/python3.10/concurrent/futures/_base.py", line 391, in __get_result
    raise self._exception
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 478, in __call__
    result = fn(*args, **kwargs)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/botocore/client.py", line 569, in _api_call
    return self._make_api_call(operation_name, kwargs)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/botocore/client.py", line 1023, in _make_api_call
    raise error_class(parsed_response, operation_name)
botocore.errorfactory.InvalidRequestException: An error occurred (InvalidRequestException) when calling the StartQueryExecution operation: line 1:56: mismatched input '<EOF>'. Expecting: 'ALTER', 'ANALYZE', 'CALL', 'COMMENT', 'COMMIT', 'CREATE', 'DEALLOCATE', 'DELETE', 'DENY', 'DESC', 'DESCRIBE', 'DROP', 'EXECUTE', 'EXPLAIN', 'GRANT', 'INSERT', 'MERGE', 'PREPARE', 'REFRESH', 'RESET', 'REVOKE', 'ROLLBACK', 'SET', 'SHOW', 'START', 'TRUNCATE', 'UNLOAD', 'UPDATE', 'USE', <query>

How many claims are submitted for each policy?

In [120]:
print(output)

{'Response': 'No available information in the database related to this query.', 'SQL': 'No Query was generated.'}

### 3. Third Query

Note:
1. This time no query itself was generated.

In [142]:
user_input = "Who are the various agents?"
output = Execution_query(query_engine = query_engine,user_query = user_input)
print(user_input)
# user_input = "How many claims are submitted for each policy?"

** Messages: **
user: Given an input question, first create a syntactically correct awsathena query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return the most interesting examples in the database.

Never query for all the columns from a specific table, only ask for a few relevant columns given the question.

Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Pay attention to which column is in which table. Also, qualify column names with the table name when needed. You are required to use the following format, each taking one line:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use tables listed below.
Table 'policies' has columns: policyid (BIGINT), policynumber (VARCHAR), customerid (BIGINT), policytypeid (BIGINT), startdate (VARCHAR), enddate (VARCHAR), premiumamount (BIGINT), . The table description is: Contains the details regarding the policies of the customer.

Table 'customers' has columns: customerid (BIGINT), firstname (VARCHAR), lastname (VARCHAR), dateofbirth (VARCHAR), email (VARCHAR), . The table description is: Contains the customer information.

Question: Who are the various agents?
SQLQuery:
**************************************************
** Response: **
assistant: Question: Who are the various agents?
SQLQuery: -- There is no information on agents in the database.
SQLResult: -- No results found.
Answer: I cannot answer this question. The database does not contain information about agents.

**************************************************

Failed to execute query.
Traceback (most recent call last):
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/pyathena/common.py", line 575, in _execute
    query_id = retry_api_call(
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/pyathena/util.py", line 84, in retry_api_call
    return retry(func, *args, **kwargs)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 475, in __call__
    do = self.iter(retry_state=retry_state)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 376, in iter
    result = action(retry_state)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 398, in <lambda>
    self._add_action_func(lambda rs: rs.outcome.result())
  File "/usr/lib/python3.10/concurrent/futures/_base.py", line 439, in result
    return self.__get_result()
  File "/usr/lib/python3.10/concurrent/futures/_base.py", line 391, in __get_result
    raise self._exception
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 478, in __call__
    result = fn(*args, **kwargs)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/botocore/client.py", line 569, in _api_call
    return self._make_api_call(operation_name, kwargs)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/botocore/client.py", line 1023, in _make_api_call
    raise error_class(parsed_response, operation_name)
botocore.errorfactory.InvalidRequestException: An error occurred (InvalidRequestException) when calling the StartQueryExecution operation: line 1:54: mismatched input '<EOF>'. Expecting: 'ALTER', 'ANALYZE', 'CALL', 'COMMENT', 'COMMIT', 'CREATE', 'DEALLOCATE', 'DELETE', 'DENY', 'DESC', 'DESCRIBE', 'DROP', 'EXECUTE', 'EXPLAIN', 'GRANT', 'INSERT', 'MERGE', 'PREPARE', 'REFRESH', 'RESET', 'REVOKE', 'ROLLBACK', 'SET', 'SHOW', 'START', 'TRUNCATE', 'UNLOAD', 'UPDATE', 'USE', <query>

Who are the various agents?

In [143]:
print(output)

{'Response': 'No available information in the database related to this query.', 'SQL': 'No Query was generated.'}

### 4. Fourth query

In [124]:
user_input = "Who are the various agents? I don't want to know the name of the customers."
output = Execution_query(query_engine = query_engine,user_query = user_input)
print(user_input)

** Messages: **
user: Given an input question, first create a syntactically correct awsathena query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return the most interesting examples in the database.

Never query for all the columns from a specific table, only ask for a few relevant columns given the question.

Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Pay attention to which column is in which table. Also, qualify column names with the table name when needed. You are required to use the following format, each taking one line:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use tables listed below.
Table 'customers' has columns: customerid (BIGINT), firstname (VARCHAR), lastname (VARCHAR), dateofbirth (VARCHAR), email (VARCHAR), . The table description is: Contains the customer information.

Table 'policies' has columns: policyid (BIGINT), policynumber (VARCHAR), customerid (BIGINT), policytypeid (BIGINT), startdate (VARCHAR), enddate (VARCHAR), premiumamount (BIGINT), . The table description is: Contains the details regarding the policies of the customer.

Question: Who are the various agents? I don't want to know the name of the customers.
SQLQuery:
**************************************************
** Response: **
assistant: Question: Who are the various agents? I don't want to know the name of the customers.
SQLQuery: -- This database has no information on agents. Please update the database schema.
SQLResult:
Answer: I am sorry, I cannot answer this question. The database does not contain information about agents.
**************************************************

Failed to execute query.
Traceback (most recent call last):
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/pyathena/common.py", line 575, in _execute
    query_id = retry_api_call(
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/pyathena/util.py", line 84, in retry_api_call
    return retry(func, *args, **kwargs)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 475, in __call__
    do = self.iter(retry_state=retry_state)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 376, in iter
    result = action(retry_state)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 398, in <lambda>
    self._add_action_func(lambda rs: rs.outcome.result())
  File "/usr/lib/python3.10/concurrent/futures/_base.py", line 439, in result
    return self.__get_result()
  File "/usr/lib/python3.10/concurrent/futures/_base.py", line 391, in __get_result
    raise self._exception
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 478, in __call__
    result = fn(*args, **kwargs)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/botocore/client.py", line 569, in _api_call
    return self._make_api_call(operation_name, kwargs)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/botocore/client.py", line 1023, in _make_api_call
    raise error_class(parsed_response, operation_name)
botocore.errorfactory.InvalidRequestException: An error occurred (InvalidRequestException) when calling the StartQueryExecution operation: line 1:82: mismatched input '<EOF>'. Expecting: 'ALTER', 'ANALYZE', 'CALL', 'COMMENT', 'COMMIT', 'CREATE', 'DEALLOCATE', 'DELETE', 'DENY', 'DESC', 'DESCRIBE', 'DROP', 'EXECUTE', 'EXPLAIN', 'GRANT', 'INSERT', 'MERGE', 'PREPARE', 'REFRESH', 'RESET', 'REVOKE', 'ROLLBACK', 'SET', 'SHOW', 'START', 'TRUNCATE', 'UNLOAD', 'UPDATE', 'USE', <query>

Who are the various agents? I don't want to know the name of the customers.

In [125]:
print(output)

{'Response': 'No available information in the database related to this query.', 'SQL': 'No Query was generated.'}

## ROUGH

In [126]:
res = query_engine.sql_retriever.retrieve_with_metadata("Who are the various agents?")

** Messages: **
user: Given an input question, first create a syntactically correct awsathena query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return the most interesting examples in the database.

Never query for all the columns from a specific table, only ask for a few relevant columns given the question.

Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Pay attention to which column is in which table. Also, qualify column names with the table name when needed. You are required to use the following format, each taking one line:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use tables listed below.
Table 'policies' has columns: policyid (BIGINT), policynumber (VARCHAR), customerid (BIGINT), policytypeid (BIGINT), startdate (VARCHAR), enddate (VARCHAR), premiumamount (BIGINT), . The table description is: Contains the details regarding the policies of the customer.

Table 'customers' has columns: customerid (BIGINT), firstname (VARCHAR), lastname (VARCHAR), dateofbirth (VARCHAR), email (VARCHAR), . The table description is: Contains the customer information.

Question: Who are the various agents?
SQLQuery:
**************************************************
** Response: **
assistant: Question: Who are the various agents?
SQLQuery: -- There is no information on agents in the database.
SQLResult: -- No results found.
Answer: I cannot answer this question. The database does not contain information about agents.

**************************************************

Failed to execute query.
Traceback (most recent call last):
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/pyathena/common.py", line 575, in _execute
    query_id = retry_api_call(
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/pyathena/util.py", line 84, in retry_api_call
    return retry(func, *args, **kwargs)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 475, in __call__
    do = self.iter(retry_state=retry_state)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 376, in iter
    result = action(retry_state)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 398, in <lambda>
    self._add_action_func(lambda rs: rs.outcome.result())
  File "/usr/lib/python3.10/concurrent/futures/_base.py", line 439, in result
    return self.__get_result()
  File "/usr/lib/python3.10/concurrent/futures/_base.py", line 391, in __get_result
    raise self._exception
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 478, in __call__
    result = fn(*args, **kwargs)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/botocore/client.py", line 569, in _api_call
    return self._make_api_call(operation_name, kwargs)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/botocore/client.py", line 1023, in _make_api_call
    raise error_class(parsed_response, operation_name)
botocore.errorfactory.InvalidRequestException: An error occurred (InvalidRequestException) when calling the StartQueryExecution operation: line 1:54: mismatched input '<EOF>'. Expecting: 'ALTER', 'ANALYZE', 'CALL', 'COMMENT', 'COMMIT', 'CREATE', 'DEALLOCATE', 'DELETE', 'DENY', 'DESC', 'DESCRIBE', 'DROP', 'EXECUTE', 'EXPLAIN', 'GRANT', 'INSERT', 'MERGE', 'PREPARE', 'REFRESH', 'RESET', 'REVOKE', 'ROLLBACK', 'SET', 'SHOW', 'START', 'TRUNCATE', 'UNLOAD', 'UPDATE', 'USE', <query>

In [127]:
res

([NodeWithScore(node=TextNode(id_='7a3ff7be-2562-4b04-86b0-edbc1e473eeb', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text="Error: (pyathena.error.DatabaseError) An error occurred (InvalidRequestException) when calling the StartQueryExecution operation: line 1:54: mismatched input '<EOF>'. Expecting: 'ALTER', 'ANALYZE', 'CALL', 'COMMENT', 'COMMIT', 'CREATE', 'DEALLOCATE', 'DELETE', 'DENY', 'DESC', 'DESCRIBE', 'DROP', 'EXECUTE', 'EXPLAIN', 'GRANT', 'INSERT', 'MERGE', 'PREPARE', 'REFRESH', 'RESET', 'REVOKE', 'ROLLBACK', 'SET', 'SHOW', 'START', 'TRUNCATE', 'UNLOAD', 'UPDATE', 'USE', <query>\n[SQL: -- There is no information on agents in the database.]\n(Background on this error at: https://sqlalche.me/e/20/4xp6)", mimetype='text/plain', start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), score=None)],
 {'sql_query': '-- There is no information on agents in the database.'})

In [128]:
res = query_engine.sql_retriever.retrieve_with_metadata("How many claims are submitted for each policy?")

** Messages: **
user: Given an input question, first create a syntactically correct awsathena query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return the most interesting examples in the database.

Never query for all the columns from a specific table, only ask for a few relevant columns given the question.

Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Pay attention to which column is in which table. Also, qualify column names with the table name when needed. You are required to use the following format, each taking one line:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use tables listed below.
Table 'policies' has columns: policyid (BIGINT), policynumber (VARCHAR), customerid (BIGINT), policytypeid (BIGINT), startdate (VARCHAR), enddate (VARCHAR), premiumamount (BIGINT), . The table description is: Contains the details regarding the policies of the customer.

Table 'policy_types' has columns: policytypeid (BIGINT), policytypename (VARCHAR), . The table description is: Contains the information regarding the various Policy Types. The various policy types are ['Life Insurance','Health Insurance','Auto Insurance','Home Insurance','Travel Insurance']

Question: How many claims are submitted for each policy?
SQLQuery:
**************************************************
** Response: **
assistant: Question: How many claims are submitted for each policy?
SQLQuery: -- Unable to provide an adequate query for the request.
SQLResult: -- Unable to provide an adequate query for the request.
Answer: -- Unable to provide an adequate query for the request. The database schema does not contain information about claims.

**************************************************

Failed to execute query.
Traceback (most recent call last):
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/pyathena/common.py", line 575, in _execute
    query_id = retry_api_call(
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/pyathena/util.py", line 84, in retry_api_call
    return retry(func, *args, **kwargs)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 475, in __call__
    do = self.iter(retry_state=retry_state)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 376, in iter
    result = action(retry_state)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 398, in <lambda>
    self._add_action_func(lambda rs: rs.outcome.result())
  File "/usr/lib/python3.10/concurrent/futures/_base.py", line 439, in result
    return self.__get_result()
  File "/usr/lib/python3.10/concurrent/futures/_base.py", line 391, in __get_result
    raise self._exception
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/tenacity/__init__.py", line 478, in __call__
    result = fn(*args, **kwargs)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/botocore/client.py", line 569, in _api_call
    return self._make_api_call(operation_name, kwargs)
  File "/home/joswin/Learning/.venv/lib/python3.10/site-packages/botocore/client.py", line 1023, in _make_api_call
    raise error_class(parsed_response, operation_name)
botocore.errorfactory.InvalidRequestException: An error occurred (InvalidRequestException) when calling the StartQueryExecution operation: line 1:56: mismatched input '<EOF>'. Expecting: 'ALTER', 'ANALYZE', 'CALL', 'COMMENT', 'COMMIT', 'CREATE', 'DEALLOCATE', 'DELETE', 'DENY', 'DESC', 'DESCRIBE', 'DROP', 'EXECUTE', 'EXPLAIN', 'GRANT', 'INSERT', 'MERGE', 'PREPARE', 'REFRESH', 'RESET', 'REVOKE', 'ROLLBACK', 'SET', 'SHOW', 'START', 'TRUNCATE', 'UNLOAD', 'UPDATE', 'USE', <query>

In [129]:
res

([NodeWithScore(node=TextNode(id_='758aa13e-c60d-41b5-bbc0-0294d28041c3', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, text="Error: (pyathena.error.DatabaseError) An error occurred (InvalidRequestException) when calling the StartQueryExecution operation: line 1:56: mismatched input '<EOF>'. Expecting: 'ALTER', 'ANALYZE', 'CALL', 'COMMENT', 'COMMIT', 'CREATE', 'DEALLOCATE', 'DELETE', 'DENY', 'DESC', 'DESCRIBE', 'DROP', 'EXECUTE', 'EXPLAIN', 'GRANT', 'INSERT', 'MERGE', 'PREPARE', 'REFRESH', 'RESET', 'REVOKE', 'ROLLBACK', 'SET', 'SHOW', 'START', 'TRUNCATE', 'UNLOAD', 'UPDATE', 'USE', <query>\n[SQL: -- Unable to provide an adequate query for the request.]\n(Background on this error at: https://sqlalche.me/e/20/4xp6)", mimetype='text/plain', start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), score=None)],
 {'sql_query': '-- Unable to provide an adequate query for the request.'})

In [130]:
res[1]

{'sql_query': '-- Unable to provide an adequate query for the request.'}

In [131]:
res = query_engine.sql_retriever.retrieve_with_metadata("How many customers have a health insurance policy?")

** Messages: **
user: Given an input question, first create a syntactically correct awsathena query to run, then look at the results of the query and return the answer. You can order the results by a relevant column to return the most interesting examples in the database.

Never query for all the columns from a specific table, only ask for a few relevant columns given the question.

Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Pay attention to which column is in which table. Also, qualify column names with the table name when needed. You are required to use the following format, each taking one line:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use tables listed below.
Table 'policies' has columns: policyid (BIGINT), policynumber (VARCHAR), customerid (BIGINT), policytypeid (BIGINT), startdate (VARCHAR), enddate (VARCHAR), premiumamount (BIGINT), . The table description is: Contains the details regarding the policies of the customer.

Table 'customers' has columns: customerid (BIGINT), firstname (VARCHAR), lastname (VARCHAR), dateofbirth (VARCHAR), email (VARCHAR), . The table description is: Contains the customer information.

Question: How many customers have a health insurance policy?
SQLQuery:
**************************************************
** Response: **
assistant: Question: How many customers have a health insurance policy?
SQLQuery: SELECT COUNT(DISTINCT c.customerid) FROM customers c JOIN policies p ON c.customerid = p.customerid WHERE p.policytypeid = 1
SQLResult:
COUNT(DISTINCT c.customerid)
---------------------------
                         100
Answer: 100 customers have a health insurance policy.

**************************************************

In [132]:
list(res[0][0].metadata)

['sql_query', 'result', 'col_keys']

In [133]:
# # Initialize client
# db = chromadb.PersistentClient(path="./db/chroma_db")

# # Get collection
# chroma_collection = db.get_or_create_collection("table_db")

# # Assign chroma as the vector store to the context
# vector_store = ChromaVectorStore(chroma_collection = chroma_collection)
# storage_context = StorageContext.from_defaults(vector_store = vector_store)

In [134]:
# tbl_lst_objs = [table_schema_objs,table_node_mapper]

In [135]:
# obj_index =ObjectIndex.from_objects(
#   tbl_lst_objs,
#   index_cls = VectorStoreIndex,
#   storage_context = storage_context
# )

In [136]:
# obj_index

In [137]:
# db = chromadb.PersistentClient(path="./db/chroma_db")
# chroma_collection = db.get_or_create_collection("table_db")
# vector_store = ChromaVectorStore(chroma_collection=chroma_collection)

# index = VectorStoreIndex.from_vector_store(vector_store=vector_store)

# object_index = ObjectIndex.from_objects_and_index(tbl_lst_objs, index)

In [138]:
# type(object_index)

In [139]:
# object_retriever = object_index.as_retriever(similarity_top_k=1)
# a = object_retriever.retrieve("hello")

In [140]:
a

[(2,)]

In [141]:
# object_retriever = obj_index.as_retriever(similarity_top_k=1)
# object_retriever.retrieve("hello")